ul {
    list-style: none;
    display: inline;
}
.card {
    display: inline-block;
    color: red;
    width: 305px;
}
li {
    display: inline;
}
div {
    display: inline-block;
}
a {
    text-decoration: none;
}